@inject ArkanCore.MVC.Resources.LocService SharedLocalizer

<div>

    <div class="subheader">
        <h1 class="subheader-title">
            <i class='subheader-icon fal fa-list'></i> @SharedLocalizer.GetLocalizedHtmlString("CoursePayments") <span class='fw-300'></span> <sup class='badge badge-primary fw-500'></sup>
            @*<small>@SharedLocalizer.GetLocalizedHtmlString("CoursePaymentsListing") </small>*@
        </h1>

        @*<div class="subheader-block">
            <a href="@(Lib.Settings.baseUrl)category/action" class="btn btn-primary"><i class="fal fa-plus fa-fw"></i> @SharedLocalizer.GetLocalizedHtmlString("AddNew")</a>
        </div>*@
    </div>

    <!-- Your main content goes below here: -->
    <div class="row">

        <div class="col-xl-12">

           
                        <div id="panel-1" class="panel">
                            <div class="panel-hdr">
                                <h2>
                                    @SharedLocalizer.GetLocalizedHtmlString("CoursePaymentsListing") <span class="fw-300"><i></i></span>
                                </h2>
                                <div class="panel-toolbar">
                                    @*<button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>*@
                                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                                    @*<button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>*@
                                </div>
                            </div>
                            <div class="panel-container show">
                                <div class="panel-content  ">
                                    @*<div class="panel-tag">It stash and was even had of collection the latest story still every or times derive come way. Travelling business ill. Helplessly starting didn't should he her bad will so through audiences to the supported congress, if card with was way allows century quarter the control village for of payload.</div>*@

                                    
                                    <div id="divList"></div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            @section scripts{
                <script>
                    $(function () {
                        BindGrid();
                    })

                    function BindGrid() {

                        $('#divList').html('<h5 class="margin-0"><p><i class="fal fa-spinner fa-spin fa-fw"></i> Please wait while data is loading...</p></h5>');
                        $.ajax({
                            url: '/reports/CoursePayments/_list',
                            //data: $('#frmSearch').serialize(),
                            success: function (data) {
                                $('#divList').html(data);
                            }
                        })
                    };

                </script>
            }
